body {
  background-image: url("https://ocdn.eu/pulscms-transforms/1/NWFk9kpTURBXy8zMmIyN2FmZTI3MmJlMDA0NmI1MWY2MDg4ZmI3ZDA2NS5qcGeTlQMAzLnNAtnNAZuTBc0DFM0BvJMJpjMwMTViNAaBoTAB/prognoza-pogody-jaka-pogoda-w-piatek-23-pazdziernika-2020.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media only screen and (max-device-width:450px){

  body{
    background-position: top;
  }
}